.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto !important;
  margin-top: 30px !important;
  padding: 30px !important;
  padding-top: 40px;
  /* position: absolute;
    top: 15%;
    left: 30%; */
  width: 30%;
  height: 40%;
  box-shadow: 0 5px 10px grey;
}

.form-box h3 {
  font-weight: 800;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .form-box {
    width: 80%;
  }
}
